.hero {
  padding: 10px;
}

.blogs {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: #579aff; */
}

.blog_item {
  /* background-color: blue; */
  max-width: 70%;
  padding: 10px;
}

.blog_title {
  font-size: 18px;
  font-weight: 400;
}

.blog_elipsis_body {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog_detail {
  display: flex;
  justify-content: space-between;
}

.blog_name {
  font-size: 12px;
  color: #ff6363;
}

.blog_detail_button {
  font-size: 12px;
  color: #579aff;
  text-decoration: underline;
  cursor: pointer;
}

.blog_drawer {
  width: 85%;
}

.blog_creator {
  font-size: 14px;
  color: #FF6363;
}

.blog_body, 
.blog_title_drawer {
  padding: 1px 10px;
}

.blog_title_drawer {
  font-size: 18px;
  font-weight: 400;
}

.blog_body {
  font-size: 14px;
  text-align: justify;
}

.comments_drawer {
  width: 85%;
}

.comment_count {
  font-size: 12px;
  color: #c4c4c4;
}

.comment_item {
  padding: 3px 10px;
}

.comment_name {
  font-weight: 600;
  font-size: 16px;
}

.comment_body {
  font-size: 14px;
}

.close_button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.close_button svg {
  padding: 0 14px;
}