.navigation {
    width: 100%;
}

.nav_wrap_item {
    display: flex;
    justify-content: center;
}

.nav_item {
    font-size: 16px;
    margin: 15px 10px;
    text-decoration: none;
    list-style-type: none;
    color: #C4C4C4;
    transition: 50ms ease-in-out;
}

.nav_item:hover {
    color: #9ad2ff;
}

.nav_item_active {
    font-size: 16px;
    margin: 15px 10px;
    text-decoration: none;
    list-style-type: none;
    color: #000;
}