.users {
  padding: 20px;
}

.table_wrap {
  overflow-x: auto;
  margin: 10px 0px;
}

.button {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 2px;
  color: #fff;
  border: 1px soild #000;
  margin: 1px;
  cursor: pointer;
}

.add_user {
  background-color: #579aff;
}

.edit_user {
  background-color: #ffa927;
}

.delete_user {
  background-color: #ff6363;
}

.actions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.close_button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.close_button svg {
  padding: 0 14px;
}

.button_save {
  display: inline-block;
  border-radius: 4px;
  background-color: #579aff;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 5px;
}

.button_save .button_text {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_save .button_text::after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.button_save:hover .button_text {
  padding-right: 15px;
}

.button_save:hover .button_text::after {
  opacity: 1;
  right: 0;
}

.group_input {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 20px 5px;
}

.input {
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  width: 100%;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #fff;
  color: #0d0c22;
  box-shadow: 0 0 5px #579aff, 0 0 0 10px #f5f5f5eb;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #777;
}

.icon_search {
  position: absolute;
  left: 1rem;
  fill: #777;
  width: 1rem;
  height: 1rem;
}

.no_match_search {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.container_paginate {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  list-style-type: none;
}

.page_link_paginate {
  margin: 2px;
  padding: 5px 10px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  cursor: pointer;
}

.previous_paginate {
  margin: 3px;
  padding: 5px 10px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  cursor: pointer;
  color: #579aff;
}

.next_paginate {
  margin: 3px;
  padding: 5px 10px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  cursor: pointer;
  color: #579aff;
}

.active_paginate {
  background-color: #87ffb5;
}

.disabled_paginate {
  color: #c4c4c4;
  background-color: #ececec;
  cursor: not-allowed;
}
